@using Newtonsoft.Json;
@using WebStoreApplication.Global;

@{
    ViewData["Title"] = "Products";

    String result = Global.Get("http://localhost:5000/products/all");

    List<ProductModel> products = JsonConvert.DeserializeObject<List<ProductModel>>(result);
}

<h1>Products</h1>
<br />
<p>Welcome to CoroNacessities </p>
<p>Your one stop shop for everything you need during the pandemic.</p>

<table class="table" id="productsTable">
    <thead>
        <tr>
            <th scope="col">Product Name</th>
            <th scope="col">Description</th>
            <th scope="col">Category</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (ProductModel product in products)
            {
                <tr>
                    <td>@product.productName</td>
                    <td>@product.productDescription</td>
                    <td>@product.typeModel.typeName</td>
                    <td>R @product.price</td>
                    <td><a href="https://localhost:5001/Home/ProductDetails" onclick="storeProductClicked(@product.productID)">View</a></td>
                </tr>
            }
        }
    </tbody>
</table>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#productsTable').DataTable({
                "aaSorting": [],
                columnDefs: [{
                    orderable: false,
                    targets: 3
                }]
            });
            $('.dataTables_length').addClass('bs-select');
        });

        function storeProductClicked(productId) {
            localStorage.setItem("productSelected", productId);
        }
    </script>
}


